<div class="login-page">
	<div class="text-center error-page">
		<h3>Server maintenance in progress</h3>
		<p class="error-short">We are always looking for ways to improve the services that support the delivery of content. Sometimes that means a little
			downtime whilst we upgrade our systems.</p>
		<p class="error-short">In the meantime we apologise for any inconvenience caused and promise to be up and running again very soon.</p>
		<img alt="Upgrade in progress" class="error-image img-responsive" src="img/error-page/upgrade.svg">
	</div>
</div>